* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
body header {
  position: fixed;
  display: block;
  clear: both;
  background-color: #FFA745;
  width: 100%;
  height: 70px;
}
body header img {
  width: 50px;
  height: auto;
  margin: 2%;
}
body header div {
  display: inline-block;
  width: 81%;
  height: 70px;
}
body header div h2 {
  float: left;
  margin-left: 26%;
}
body header div i {
  float: right;
  margin: 2%;
}
body header div i.fa-user-circle {
  font-size: 325%;
}
body main {
  padding-top: 80px;
  width: 100%;
  height: 1000px;
  clear: both;
  background-color: #FFE7CC;
}
body main div {
  width: 95%;
  margin: auto;
}
body nav {
  display: block;
  position: fixed;
  bottom: 0;
  background-color: #FFA745;
  list-style: none;
  width: 100%;
  height: 50px;
  text-align: center;
}
body nav a {
  text-decoration: none;
  text-align: center;
  color: white;
}
body nav a li {
  float: left;
  font-size: 184%;
  padding: 1.5%;
  padding-left: 5%;
}
body nav a .right {
  padding-left: 35%;
}
body nav a div {
  width: 27.73%;
  height: 15.59%;
  background-color: white;
  position: fixed;
  left: 36.135%;
  bottom: -4%;
  border: 2px solid black;
  border-radius: 50%;
}
body nav a div .levelscenter {
  background-color: #45CBFF;
  color: black;
  position: fixed;
  left: 38.67%;
  bottom: -2.5%;
  border-radius: 50%;
  border: 2px solid black;
  padding-left: 1.5%;
  padding-top: 2%;
  font-size: 48px;
  width: 22.66%;
  height: 12.74%;
}
