@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'quicksand', 'sans serif';
}

body {
  background-color: #FFA745;
}
body .loginsiden {
  background-color: #FFA745;
}
body .loginsiden img {
  margin-left: 85px;
  margin-top: 55px;
}
body .loginsiden label > p {
  text-align: center;
  color: #fff;
}
body .loginsiden input[type=text], body .loginsiden input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #FFE7CC;
  color: #B26C1E;
  border-radius: 25px;
}
body .loginsiden button {
  background-color: #fff;
  color: #000;
  padding: 14px 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 80px;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 25px;
}
body .loginsiden button.opretbruger {
  background-color: #45CBFF;
  width: 100%;
  margin-left: 0;
}
body .loginsiden button:hover {
  opacity: 0.8;
}
body .loginsiden .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
body .loginsiden .container {
  padding: 16px;
}
body .loginsiden span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
body header {
  position: fixed;
  display: block;
  clear: both;
  background-color: #FFA745;
  width: 100%;
  height: 70px;
}
body header a {
  text-decoration: none;
}
body header img {
  width: 50px;
  height: auto;
  margin: 2%;
}
body header div {
  display: inline-block;
  width: 81%;
  height: 70px;
}
body header div a {
  text-decoration: none;
  color: black;
}
body header div h2 {
  float: left;
  margin-left: 26%;
}
body header div i {
  float: right;
  margin: 2%;
}
body header div i.fa-user-circle {
  font-size: 325%;
}
body main {
  padding-top: 80px;
  width: 100%;
  height: 1000px;
  clear: both;
  background-color: #FFE7CC;
}
body main img {
  width: 275px;
  margin-top: 25px;
  margin-left: 30px;
  border-radius: 50%;
}
body main div {
  width: 95%;
  margin: auto;
}
body main .level2 {
  background-color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: 270px;
  border: 2px solid #000;
}
body main .level2 .level {
  background-color: #45CBFF;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 8px;
  margin-top: 8px;
  border: 2px solid #000;
  font-size: 48px;
  text-align: center;
  line-height: 92px;
}
body main .level2 .indholdwrap {
  background-color: #000;
  width: 300px;
  height: 300px;
}
body nav {
  display: block;
  position: fixed;
  bottom: 0;
  background-color: #FFA745;
  list-style: none;
  width: 100%;
  height: 50px;
  text-align: center;
}
body nav a {
  text-decoration: none;
  text-align: center;
  color: white;
}
body nav a li {
  float: left;
  font-size: 184%;
  padding: 1.5%;
  padding-left: 5%;
  width: 32.72%;
}
body nav a .right {
  padding-left: 35%;
}
body nav a div {
  width: 27.73%;
  height: 15.59%;
  background-color: white;
  position: fixed;
  left: 36.135%;
  bottom: -4%;
  border: 2px solid black;
  border-radius: 50%;
}
body nav a div .levelscenter {
  background-color: #45CBFF;
  color: black;
  position: fixed;
  left: 38.67%;
  bottom: -2.5%;
  border-radius: 50%;
  border: 2px solid black;
  padding-left: 1.5%;
  padding-top: 2%;
  font-size: 48px;
  width: 22.66%;
  height: 12.74%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFE7CC;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
body header {
  position: fixed;
  display: block;
  clear: both;
  background-color: #FFA745;
  width: 100%;
  height: 75px;
  z-index: 1;
}
body header a {
  text-decoration: none;
}
body header img {
  width: 15%;
  height: 52px;
  margin: 12px;
}
body header div {
  display: inline-block;
  width: 75%;
  height: 70px;
}
body header div a {
  text-decoration: none;
  color: black;
}
body header div h2 {
  float: left;
  margin-left: 20%;
}
body header div a i {
  float: right;
  border-radius: 50%;
  padding: 8px;
  margin: 10px;
}
body header div a i.fa-user-alt {
  font-size: 30px;
  background-color: #FFE7CC;
  color: #45CBFF;
}
body main {
  padding-top: 80px;
  padding-bottom: 70px;
  width: 100%;
  clear: both;
  background-color: #FFE7CC;
  /* Det er hvordan selve knappen ser ud som man klikker på i det nederste lag */
  /* Dette er den div som kommer frem ved tryk på knappen på nederste lag */
  /* Dette er den div som kommer frem ved tryk på knappen på nederste lag */
}
body main div {
  width: 95%;
  margin: auto;
}
body main .udvidknap {
  width: 90%;
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 7px 10px;
  margin: 5%;
  margin-top: 8px;
  margin-bottom: 30px;
  border-radius: 25px;
  /* Dette er hvordan skriften i knappen ser ud */
}
body main .udvidknap h2 {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 15px;
  padding-left: 6%;
  color: #293952;
  text-align: left;
  background-color: white;
}
body main .smartknap {
  display: none;
  width: 90%;
  height: 220px;
  padding: 25px 0;
  text-align: left;
  background-color: white;
  margin-top: -49px;
  border-radius: 0 0 25px 25px;
  margin-bottom: 30px;
}
body main .smartknap p {
  font-size: 14px;
}
body main .smartknap .bogbog {
  height: 160px;
  width: 95%;
  margin: auto;
  background-color: white;
}
body main .smartknap .gem {
  display: block;
  width: 24%;
  height: 45px;
  padding: 0;
  text-align: center;
  background-color: #FFA745;
  margin-top: 0;
  border-radius: 25px;
  margin-bottom: 0px;
  float: left;
  margin-left: 34%;
  margin-top: 15px;
  font-size: 20px;
}
body main .smartknap .slet {
  display: block;
  width: 24%;
  height: 45px;
  padding: 0;
  text-align: center;
  background-color: #FFA745;
  margin-top: 0;
  border-radius: 25px;
  margin-bottom: 0px;
  float: left;
  margin-left: 10%;
  margin-top: 15px;
  font-size: 20px;
}
body main .smartknap p {
  font-size: 32px;
}
body main .opgudvid {
  width: 90%;
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 7px 10px;
  margin: 5%;
  margin-top: 8px;
  margin-bottom: 30px;
  border-radius: 25px;
  /* Dette er hvordan skriften i knappen ser ud */
}
body main .opgudvid h2 {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 15px;
  padding-left: 6%;
  color: #293952;
  text-align: left;
  background-color: white;
}
body main .ovelseknap {
  display: none;
  width: 90%;
  height: 220px;
  padding: 25px 0;
  text-align: left;
  background-color: white;
  margin-top: -49px;
  border-radius: 0 0 25px 25px;
  margin-bottom: 35px;
}
body main .ovelseknap p {
  font-size: 14px;
}
body main .ovelseknap .ovelse {
  height: 160px;
  width: 95%;
  margin: auto;
  background-color: white;
}
body main .ovelseknap .fotoknap {
  display: block;
  width: 24%;
  height: 45px;
  padding: 0;
  text-align: center;
  background-color: #FFA745;
  border-radius: 25px;
  margin-bottom: 0px;
  float: left;
  margin-left: 20%;
  margin-top: 15px;
  font-size: 20px;
}
body main .ovelseknap .micphone {
  display: block;
  width: 24%;
  height: 45px;
  padding: 0;
  text-align: center;
  background-color: #FFA745;
  border-radius: 25px;
  margin-bottom: 0px;
  float: left;
  margin-left: 10%;
  margin-top: 15px;
  font-size: 24px;
}
body main .ovelseknap p {
  font-size: 32px;
}
body section {
  background-color: #FFE7CC;
  padding-top: 70px;
  padding-bottom: 80px;
}
body section div h2 {
  margin: 20px 0 15px 20px;
}
body section div input {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 20px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: white;
  border-radius: 25px;
}
body section div form input {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 20px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  width: 24px;
  height: 24px;
}
body section div form label {
  font-size: 24px;
}
body section div form .inputfelt {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 20px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  height: auto;
}
body section div select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 20px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: white;
  border-radius: 25px;
}
body section div button {
  background-color: #fff;
  color: #000;
  padding: 10px 16px;
  margin: 8px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 25px;
  border: 1px solid;
}
body .bundopret {
  background-color: #FFA745;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 72px;
  padding-top: 4px;
}
body .bundopret .opretbruger {
  background-color: #45CBFF;
  color: #000;
  padding: 14px 20px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 25px;
  font-size: 20px;
}
body nav {
  display: block;
  position: fixed;
  bottom: 0;
  background-color: #FFA745;
  list-style: none;
  width: 100%;
  height: 50px;
  text-align: center;
}
body nav a {
  text-decoration: none;
  text-align: center;
  color: white;
}
body nav a li {
  float: left;
  font-size: 184%;
  padding: 1.5%;
  padding-left: 5%;
  width: 32.72%;
}
body nav a .right {
  padding-left: 35%;
}
body nav a div {
  width: 27.73%;
  height: 15.59%;
  background-color: white;
  position: fixed;
  left: 36.135%;
  bottom: -4%;
  border: 2px solid black;
  border-radius: 50%;
}
body nav a div .levelscenter {
  background-color: #45CBFF;
  color: black;
  position: fixed;
  left: 38.67%;
  bottom: -2.5%;
  border-radius: 50%;
  border: 2px solid black;
  padding-left: 1.5%;
  padding-top: 2%;
  font-size: 48px;
  width: 22.66%;
  height: 12.74%;
}
