//sass

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;

header{
  position: fixed;
  display: block;
  clear: both;
  background-color: #FFA745;
  width: 100%;
  height: 70px;

  a{
    text-decoration: none;
     }

  img{
    width: 50px;
    height: auto;
    margin: 2%;
  }

  div{
    display: inline-block;
    width: 81%;
    height: 70px;

    a{
      text-decoration: none;
      color: black;
     }

  h2{
    float: left;
    margin-left: 26%;

  }

  i{
   float: right;
   margin: 2%;

    &.fa-user-circle{
      font-size: 325%;

    }
  }
  }
}//header slut

main{
  padding-top: 80px;
  width: 100%;
  height: 1000px;
  clear: both;
  background-color: #FFE7CC;

  img {
    width: 275px;
    margin-top: 25px;
    margin-left: 30px;
    border-radius: 50%;
  }

  div {
    width: 95%;
    margin: auto;
  }

  .level2 {
    background-color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 270px;
    border: 2px solid #000;

  .level {
    background-color: #45CBFF;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 8px;
    margin-top: 8px;
    border: 2px solid #000;
    font-size: 48px;
    text-align: center;
    line-height: 92px;
  }

   .indholdwrap {
      background-color: #000;
      width: 300px;
      height: 300px;
    }
  }
}

nav {
  display: block;
  position: fixed;
  bottom: 0;
  background-color: #FFA745;
  list-style: none;
  width: 100%;
  height: 50px;
  text-align: center;

  a {
    text-decoration: none;
    text-align: center;
    color: white;

  li {
    float: left;
    font-size: 184%;
    padding: 1.5%;
    padding-left: 5%;
    width: 32.72%;
  }

  .right {
    padding-left: 35%;
  }


  div{
    width: 27.73%;
    height: 15.59%;
    background-color: white;
    position: fixed;
    left: 36.135%;
    bottom: -4%;
    border: 2px solid black;
    border-radius: 50%;

    .levelscenter{
      background-color: #45CBFF;
      color: black;
      position: fixed;
      left: 38.67%;
      bottom: -2.5%;
      border-radius: 50%;
      border: 2px solid black;
      padding-left: 1.5%;
      padding-top: 2%;
      font-size: 48px;
      width: 22.66%;
      height: 12.74%;
    }
  }
  }
}
}
